body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #282828;
    color: #FFFFFF;
    font-family: 'Verdana', fantasy;
    width: 100%;
    padding: 12px;
    text-align: left;
    text-decoration: none;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
    overflow: hidden;
  }
.navbox{
    float: left;
    font-family: 'Verdana', fantasy;
}
.navbox a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbox a:hover {
    background-color: #FFFFFF;
    color: #000000;
} 
.intro {
    font-family: system-ui;
    font-size: 18;
    padding: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #383838;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    }
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    color: #FFFFFF;
}
#cv {
    font-family: "Verdana", sans-serif;
    padding: 20px;
}
img {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 225px;
    width: 525px;
    margin: 20px;
    display: flex;
}
img:hover {
    box-shadow: 0 0 4px 2px 
    rgba(0, 140, 186, 0.5); 
    opacity: .3;
    transition: .5s ease;
}
#projects span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #000000;
}
#projects span:hover {
    display: block;
}

