body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    background-color: #557fda;
    color: #557fda;
    font-family: 'Verdana', fantasy;
    width: calc(100% + 12px);
    padding: 12px;
    left: 0;
    right: 0;
    text-align: left;
    text-decoration: none;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #557fda;
    overflow: hidden;
    width: calc(100% + 16px);
    padding: 12px;
  }
.navbox{
    float: left;
    font-family: 'Verdana', fantasy;
}
.navbox a {
    display: block;
    color: #557fda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbox a:hover {
    background-color: #FFFFFF;
    color: #000000;
} 
.about-me {
    background-color: aqua;
    display: grid;
    /* grid-gap: 10px;
    padding: 30px; */
    margin: 10px;
    font-family: system-ui;
    font-size: 18;
    /* width: 100%;
    grid-column-start: 1;
    grid-column-end: 2; */
    padding: 10px;
}
/*
.intro {
    font-family: system-ui;
    font-size: 18;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px;
    
    display: block;
    float: left;
    
}
*/
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    color: #FFFFFF;
}
#cv {
    font-family: "Verdana", sans-serif;
    padding: 40px;
}
#project-summary {
    font-family: "Lucidia", sans-serif;
    font-size: 18;
    width: 100%;
    margin: 30px;
}
img {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 225px;
    width: 525px;
    margin: 30px;
    display: flex;
    float: left;
}
img:hover {
    box-shadow: 0 0 4px 2px 
    rgba(0, 0, 0, 0.5); 
    opacity: .3;
    transition: .5s ease;
}
#projects {
    font-family: "Lucidia", sans-serif;
    line-height: 1;
    padding: 30px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #557fda;
    color: #557fda;
    text-align: left;
    padding: 20px;
}

