body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #282828;
    color: #FFFFFF;
    font-family: 'Verdana', fantasy;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    text-align: left;
    text-decoration: none;
}
.topnav {
    background-color: #282828;
    color: #FFFFFF;
    font-family: 'Verdana', fantasy;
    font-size: 14px;
    width: 100%;
    padding: 14px;
    text-align: left;
    overflow: hidden;
}
.topnav a {
    float: left;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.topnav a:hover {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
}
.intro {
    font-family: system-ui;
    font-size: 18;
    padding: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #383838;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    }
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    color: #FFFFFF;
}
#cv {
    font-family: "Verdana", sans-serif;
    padding: 20px;
}
img{
    border: 1px solid #000000;
    border-radius: 4px;
    height: 175px;
    width: 400px;
    margin: 20px;
}
img:hover {
    box-shadow: 0 0 4px 2px 
    rgba(0, 140, 186, 0.5); 
    opacity: .3;
    transition: .5s ease;
}
.hover-title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}


